

html {
    display: block;
}
body {
    display: block;
    margin: 8px;
}
head {
    display: none;
}
hr {
  border-top: 4px solid #bbb;
}

div {
    display: block;
}


h1 {
  margin-bottom: 10px;
  margin-top: 25px;

}


h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
